# Checkpoints automáticos
#**/.ipynb_checkpoints/ -> saidas (outputs) dos notebooks

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp
*.swp
*.bak

# Arquivos compilados / build
dist/
build/
out/
bin/
obj/


# Ambiente / variáveis
.env
.env.*
*.local


# IDEs e editores
.vscode/
.idea/
*.iml


# Arquivos de mídia e documentos
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.csv
!base_treino_boruta.csv
!base_teste_boruta.csv

*.txt
!requirements.txt